<!-- Footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Nosotros</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet asperiores nesciunt maiores cumque necessitatibus a facere aperiam animi adipisci pariatur dicta beatae laudantium nemo, eius laboriosam dolor vero, quos enim.</p>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Compañía</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="javascript: void(0);">Nosotros</a></li>
            <li><a href="javascript: void(0);">CV</a></li>
            <li><a href="javascript: void(0);">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">+Información</h5>
          <ul class="list-unstyled footer-list-menu">
            <li><a href="javascript: void(0);">Precios</a></li>
            <li><a href="javascript: void(0);">Para Marketing</a></li>
            <li><a href="javascript: void(0);">Para SEO </a></li>
            <li><a href="javascript: void(0);">Para Agencias</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6">
        <div>
          <h5 class="mb-4 footer-list-title">Contacto</h5>

          <div>
            <div class="media">
              <i-feather name="map-pin" class="icon-dual-light icons-sm mt-1 me-2"></i-feather>
              <div class="media-body">
                <p>Colombia, Bolívar, Cartagena de Indais</p>
              </div>
            </div>
            <div class="media">
              <i-feather name="mail" class="icon-dual-light icons-sm mt-1 me-2"></i-feather>
              <div class="media-body">
                <p>ronnyandres120&#64;gmail.com</p>
              </div>
            </div>
            <div class="media">
              <i-feather name="phone" class="icon-dual-light icons-sm mt-1 me-2"></i-feather>
              <div class="media-body">
                <p>+57 3156761491</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

</footer>
<!-- Footer end -->

<!-- Footer alt start -->
<section class="bg-primary py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-sm-start">
          <a href="javascript: void(0);">
            <img src="assets/images/logo-ronyhell.png" alt="" height="25">
          </a>
        </div>
        <div class="float-sm-end mt-4 mt-sm-0">
          <p class="copyright-desc text-white mb-0">{{year}} © Derechos Reservados.</p>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- Footer alt start -->